@font-face {
	font-family: 'social';
	src: url('font/social.eot');
	src: url('font/social.eot?#iefix') format('embedded-opentype'), url('font/social.woff') format('woff'), url('font/social.ttf') format('truetype'), url('font/social.svg#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Hack to fix Chrome font rendering issues */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'social';
		src: url('font/social.svg#social') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

.soc{
	display: inline-block;
	font: normal normal normal 14px/1 'social';
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.google:before {
	content: "\67";
}
.pinterest:before {
	content: "\70";
}
.linkedin:before {
	content: "\6c";
}
.twitter:before {
	content: "\54";
}
.facebook:before {
	content: "\66";
}
.reddit:before {
	content: "\72";
}
.tumblr:before {
	content: "\74";
}
.buffer:before {
	content: "\62";
}
.delicious:before {
	content: "\64";
}
.stumbleupon:before {
	content: "\73";
}
.digg:before {
	content: "\3b";
}

.facebook {
	color: #4863ae;
}

.google {
	color: #dd4b39;
}

.twitter {
	color: #46c0fb;
}

.pinterest {
	color: #c91618;
}

.linkedin {
	color: #0083a8;
}

.buffer {
	color: #000;
}

.digg {
	color: #164673;
}

.reddit {
	color: #F00;
}

.tumblr {
	color: #374a61;
}

.stumbleupon {
	color: #eb4924;
}

.delicious {
	color: #3274D1;
}